$primary-font-color: black;
$secondary-font-color: white;
$thirdly-font-color: #008766;
$fourth-font-color: #7E7E7E;

$primary-bg-color: white;
$secondary-bg-color: #F7F7F7;
$button-bg-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$button-second-bg-color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$thirdly-bg-color: #99E2D0;
$fourth-bg-color: #EAEAEA;
$fifth-bg-color: #9356DC;
$footer-bg-color: #353535;